<div class="project-card">
    <h2>{{ projectCard.title | uppercase }}</h2>
    <a routerLink="/projects">Back</a>
    <p>{{ projectCard.context }}</p>
    @if (projectCard.developmentTime) {
        <p>Development time : {{ projectCard.developmentTime | lowercase }}</p>
    }
    <img [src]="projectCard.imagePath" [alt]="projectCard.title">
    <p>{{ projectCard.description }}</p>
    @if (projectCard.fullDescription) {
        @for (paragraphs of projectCard.description; track $index) {
            <section class="project-paragraph"> 
                <p>{{ projectCard.fullDescription[$index]}}</p>
            </section>
            }
    }
    @if (projectCard.gitLink) {
        <a [href]="projectCard.gitLink">Git</a>
    }
    <p>Développer en {{ projectCard.createdAt | date: 'MMMM yyyy' | lowercase}}</p>
</div>