<img src="/assets/images/background.png" class="background-img">
@if (this.router.url === '/projects/' + this.route.snapshot.params['id']) {
    
    <div class="project">
        <!-- <img id="cover" [src]="projectCard.imagePath" [alt]="projectCard.title"> -->
        <div id="cover" [style.backgroundImage]="'url(' + projectCard.imagePath + ')'"></div>
        <h2>{{ projectCard.title | uppercase }}</h2>
        <p>{{ projectCard.context }}</p>
        
        @if (projectCard.developmentTime) {
        <p>Temps de développement : {{ projectCard.developmentTime | lowercase }}</p>
        }
    
        @if (projectCard.fullDescription) {  
            <section *ngFor="let paragraph of projectCard.fullDescription; let i = index" class="project-paragraph" [id]="i + 1">
                <p>{{ paragraph }}</p>

                @for (image of projectCard.otherImages; track image.path) {
                    @if (image.index == i) {
                        <img [src]="image.path">
                    }
                }
                
            </section>
        }

        @if (projectCard.gitLink) {
        <a [href]="projectCard.gitLink">Git</a>
        }
        <p>Développer en {{ projectCard.createdAt | date: 'MMMM yyyy' | lowercase}}</p>
        
        <button (click)="onProjectsListClick()"><span class="button-text">Tous les projets</span></button>
        <button (click)="onHomepageClick()"><span class="button-text">Retour à l'accueil</span></button>
    </div>
}