#navbar {
    --navbar-height: 4em;
    --navbar-min-width: 40em;

    color: white;

    display: grid;
    grid-template: var(--navbar-height) / minmax(18em ,1fr) 3fr 1fr;

    width: 80vw;
    min-width: var(--navbar-min-width);
    height: var(--navbar-height);
    // min-height: var(--min-height);
    
    border-radius: 500px;
    padding: 0;
    
    border: solid;
    // border-color: rgb(221, 219, 224);
    border-color: rgba(85, 0, 197, 0.26);
    border-width: 1px;
    
    align-items: center;
    
    background-color: #38383827;
    backdrop-filter: blur(5px);

    // opacity: .5;
    
    h3 {
        height: fit-content;
        margin: 0;
        justify-self: end;
        align-self: center;
        
        background-image: url("../../../public/assets/images/holo2.png");
        background-size: 100%;
        background-clip: text;
        
        &:hover{
            color: transparent;
        }
    }
    
    ul {
        
        display: flex;
        // justify-content: space-around;
        li {
            
            a {
                margin: 0 1vw;
                padding: 0.5em;
                text-decoration: none;

                &:visited {
                    color: white;
                }
                
                &:hover {
                    background-color: var(--accent-color);
                }

                &.active {
                    color: var(--accent-color);
                    text-decoration: underline;
                    background-color: rgba(255, 255, 255, 0);
                }
            }
        }
    }
    
}

