<header id="navbar">
    <h3>BERGAGLIA Olivia</h3>
    <nav>
        <ul>
            <li><a routerLink="home" routerLinkActive="active" class="nav-link" id="accueil">Accueil</a></li>
            <li><a routerLink="projects" routerLinkActive="active" class="nav-link">Projets</a></li>
            <li><a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a></li>
        </ul>
        <div class="underline"></div>
    </nav>
    <mat-slide-toggle [checked]="isDarkMode" (change)="toggleTheme()">Mode sombre</mat-slide-toggle>
</header>