<header id="navbar">
    <h3>BERGAGLIA Olivia</h3>
    <nav>
        <ul>
            <li><a routerLink="home" routerLinkActive="active" class="nav-link" id="accueil">Accueil</a></li>
            <li><a routerLink="projects" routerLinkActive="active" class="nav-link">Projets</a></li>
            <li><a routerLink="contact" routerLinkActive="active" class="nav-link">Contact</a></li>
        </ul>
        <div class="underline"></div>
    </nav>
    <div id="darkmode-switch">
        <p class="elem">clair</p>
        <label class="switch elem">
            <input type="checkbox" (click)="toggleTheme()">
            <span class="slider round"></span>
        </label>
        <p class="elem">sombre</p>
    </div>
</header>