.homepage {

    .section {
        min-height: 100vh;
    }

    #title {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    #projects {

        margin-bottom: 10em;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        h1 {
            margin: 15vh 0 15vh 0;
        }

        a{
            order: 1;
        }
    }
}