.homepage {

    .section {
        min-height: max(100vh, 920px);
    }

    #title {
        position: relative;

        top: 210px;
        left: 12vw;

        width: fit-content;

        #name {
            margin-top: -.2em;
        }

        #firstname {
            margin-top: -.5em;
        }

        #job-title {
            font-size: 3em;
            margin: 0;
            margin-left: 13px;
        }

        #description {
            height: fit-content;
            width: 20vw;
            min-width: 300px;

            position: absolute;
            bottom: -340px;

            padding-left: 2vw;
            border-left: solid var(--font-white);

            font-size: 1.5em;

            overflow-wrap: break-word;
        }
    }

    #projects {

        height: auto;

        h1 {
            position: relative;
            top: 170px;

            width: fit-content;
            left: 20vw;

            margin: 0;
            line-height: 1.2;
        }

        a {
            order: 1;
        }

        #preview-cards {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 250px;
        }
    }

    #contact {

        h1 {
            position: relative;
            top: 170px;
        }
    }
}