<div class="homepage">
    <div class="section title">
        <div id="title">
            <p id="job-title">DEVELOPPEUSE FULL-STACK</p>
            <h1>BERGAGLIA <br> Olivia</h1>
        </div>
        <div id="description">
            <p>Hello, moi c'est Olivia, étudiante dev full stack</p>
            <p>Je suis actuellement à la recherche d'une alternance, alors n'hésitez pas à me joindre via mes
                contacts !
            </p>
        </div>
    </div>
    <div class="section about" id="about">
        <app-about />
    </div>
    <div class="section projects" id="projects">
        <h1>Derniers projets</h1>
        @for (projectCard of projectCards | slice: 0: 3 ; track $index ) {
        <app-project-preview [projectPreview]="projectCard" class="card" [id]="'project-preview-' + $index" />
        }
        <a [routerLink]="['/projects']">Plus de projets >></a>
    </div>
    <div class="section contact" id="contact">
        <h1>Contactez-moi !</h1>
        <app-form />
        <button (click)="onContactClick()">Tous les contacts</button>
    </div>
</div>