<h1 id="first">À propos</h1>
<h1 id="second">de moi</h1>
<p>Passionnée depuis quelques temps par le développement et la technologie, je suis constamment à la recherche de
    nouveaux défis à relever.
    Curieuse et créative, j'aime explorer des solutions innovantes pour résoudre des problèmes complexes.
    J'allie efficacité et qualité, avec une dose de créativité dans tous mes projets.
    Mon objectif est d'apprendre continuellement tout en apportant de la valeur à travers mon expertise et mon
    enthousiasme.
</p>