.card {

  box-sizing: border-box;
  margin: 50px auto;
  padding: 30px 5%;

  border: solid;
  border-width: 1px;
  border-radius: 30px;

  background-color: var(--project-card-background-color);
  box-shadow: var(--card-shadow);

  width: 70vw;
  height: 600px;

  transition: all 0.4s ease;

  overflow: hidden;

  &:hover {
    background-color: var(--project-card-hover-background-color);

    cursor: pointer;
    transform: scale(1.02);
    box-shadow: var(--card-hover-shadow);
  }

  img {
    position: absolute;
    right: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-weight: 300;
    font-size: 16px;

  }
}