#contact-section {
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    h1 {
        width: fit-content;
    }

    #hook {
        margin: 0;
        width: fit-content;

        position: relative;
        top: -20px;

        font-size: 1.75em;
    }

    #contact-links {

        position: relative;
        top: 10px;

        width: fit-content;

        display: flex;

        z-index: 1;

        .icon {
            width: 250px;

            a {
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;

                position: relative;
                transform: translateX(-50%);
                left: 50%;
                
                text-decoration: none;
                font: 'Galano';
                color: var(--font-color);
            }

            span {
                background-color: var(--font-color);
                border-radius: 500px;

                margin: 15px;
                padding: 15px;

                width: 50px;
                height: 50px;
            }
        }
    }

    app-form {
        position: relative;
    }
}