<form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
    <div id="inputs">
        <label for="name">Nom *</label>
        <input type="text" id="name" formControlName="name" [ngClass]="{'error-input': emailForm.get('name')?.invalid && emailForm.get('name')?.touched}">
        <div class="err">
            <small *ngIf="emailForm.get('name')?.invalid && emailForm.get('name')?.touched">Le nom est requis</small>
        </div>

        <label for="email">Email *</label>
        <input type="email" id="email" formControlName="email" [ngClass]="{'error-input': emailForm.get('email')?.invalid && emailForm.get('email')?.touched}">
        <div class="err">
            <small *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">Veuillez entrer un e-mail valide</small>
        </div>
    </div>
    <div id="text-area">
        <label for="message">Message *</label><br>
        <textarea id="message" formControlName="message" rows="5" [ngClass]="{'error-input': emailForm.get('message')?.invalid && emailForm.get('message')?.touched}"></textarea><br>
        <div class="err" style="margin-bottom: 0;">
            <small *ngIf="emailForm.get('message')?.invalid && emailForm.get('message')?.touched">Message requis</small>
        </div>

        <button type="submit" style="margin-right: 0;" [disabled]="emailForm.invalid">Envoyer</button>
    </div>
</form>
<div *ngIf="submitStatus" [ngClass]="{'success': submitStatus === 'success', 'error': submitStatus === 'error'}">
    {{ statusMessage }}
</div>