form {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    
    font-size: 1.5em;
    
    label {
        position: relative;
        left: 2vw;
        font-weight: bold;
    }

    #inputs {
        max-width: max(40vw, 500px);
        margin-left: auto;
        margin-right: auto;
        
        input {
            width: calc(100% - 4vw);
            height: 30px;
        }
    }

    #text-area {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        
        textarea {
            min-width: max(40vw - 4vw, 500px - 4vw);
            max-width: 75vw;
            max-height: 50vh;
        }
    }

    input,
    textarea {
        padding: 15px 2vw 15px 2vw;
        margin-top: 10px;
        margin-bottom: 40px;

        border-width: 1px;
        border-color: var(--font-color);
        border-radius: 30px;

        background-color: var(--filling-color);

        color: var(--font-color);
        font-size: 0.7em;
    }

    button {
        position: relative;
        left: 70%;
        transform: translateX(-50%);
    }
}