form {
    display: block;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

    font-size: 1.2em;

    label {
        position: relative;
        left: 2vw;
        font-weight: bold;
    }

    #inputs {
        max-width: max(40vw, 500px);
        margin-left: auto;
        margin-right: auto;

        input {
            width: calc(100% - 4vw);
            height: 30px;
        }
    }

    #text-area {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        textarea {
            min-width: max(40vw - 4vw, 500px - 4vw);
            max-width: 75vw;
            max-height: 25rem;
            min-height: 30px;
        }

        button {
            float: right;
        }
    }

    input,
    textarea {
        padding: 15px 2vw 15px 2vw;
        margin-top: 10px;

        border: 2px solid;
        border-color: var(--font-color);
        border-radius: 31px;

        background-color: var(--filling-color-transparent);

        color: var(--font-color);
        font-size: .9em;

        &:focus {
            border-style: none;
            outline: 2px solid rgb(17, 92, 255);
        }
    }

    .error-input {
        border: solid var(--error-red);
    }

    .err {
        height: 10px;
        margin-bottom: 40px;
        position: relative;
        left: 2vw;

        small {
            font-size: 0.75em;
            position: relative;
            top: 0;
            left: 0;
            color: var(--error-red);
        }
    }
}


.success {
    color: var(--font-color);
    width: fit-content;
    margin: auto;
}

.error {
    color: var(--error-red);
    width: 20vw;
    margin: auto;
    text-align: center;
}