app-header {
    margin-bottom: 20px;

    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
}

.bottom {
    height: 100vh;
    width: 100vw;
    
    position: absolute;
    z-index: 10;
    
    background-color: rgb(250, 236, 255);
}