<!-- Project page implementation -->

<div class="cards-container">
    <div class='cards'>
        <!-- <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section>
        <section class="single-card"> 
            <h1>TEST</h1>
        </section> -->

        @for (projectCard of projectCards; track $index) {
        <section class="single-card"  [ngStyle]="{'top.px': ($index + 1) * 00}"> 
            <app-project-card [projectCard]="projectCard" [id]="'single-card-' + ($index + 1)" />
        </section>
        }

    </div>
</div>
<div class="bottom">
    <h1>exemple</h1>
</div>