.cards-container {
    display: flex;
    justify-content: center;

    .cards {

        margin-top: 200px;

        .single-card {
            margin-bottom: 50px;

            border: solid;
            border-width: 1px;
            border-color: var(--filling-color);

            background-color: var(--project-card-background-color);
            box-shadow: var(--card-shadow);
            // box-shadow: rgba(95, 95, 95, 0.075) -5px -5px 10px, rgba(0, 0, 0, 0.226) 5px 5px 10px;

            border-radius: 30px;

            width: 70vw;
            height: 600px;
            transition: all 0.5s ease;

            &:hover {
                background-color: var(--project-card-hover-background-color);
                
                cursor: pointer;
                // width: 91vw;
                box-shadow: var(--card-hover-shadow);
                width: calc(width + 10%);
            }

            .project-card {
                box-sizing: border-box;
                width: 50%;
                margin: 20px auto;
                padding: 10px 30px;
            }
        }
    }
}