.cards-container {
    display: flex;
    justify-content: center;

    .cards {

        margin-top: 200px;

        .single-card {
            margin-bottom: 50px;

            background-color: var(--filling-color-transparent);
            // box-shadow: rgba(95, 95, 95, 0.075) -5px -5px 10px, rgba(0, 0, 0, 0.226) 5px 5px 10px;

            border-radius: 30px;

            width: 70vw;
            height: 60vh;
            transition: all 0.5s ease;

            &:hover {
                background-color: var(--filling-color);
                cursor: pointer;
                // width: 91vw;
                box-shadow: var(--card-shadow)
            }

            .project-card {
                box-sizing: border-box;
                width: 50%;
                margin: 20px auto;
                padding: 10px 30px;
            }
        }
    }
}

.background-img {

    z-index: -1;
    opacity: var(--background-opacity);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
}