* {
    font-family: Roboto, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
    --accent-color: #d017b8;
    --almost-black-color: #0d0d0f;
    --font-white: #f3f3f3;

    body {
        margin: 0;
        padding: 0;
        background-color: var(--almost-black-color);
        color: var(--font-white);

        h1 {
            background-image: url(../public/assets/images/holo2.png);
            background-size: 100%;
            background-clip: text;
            color: transparent;
        }

        button {
            background-color: transparent;
            box-sizing: border-box;
            padding: 5px 10px;
            border: none;
            box-shadow: lightgray 3px 3px 7px;
            margin-right: 20px;
            outline: none;
            font-size: 20px;
            font-weight: 500;

            &:active {
                transform: translate(1px, 1px);
                box-shadow: lightgray 0 0 5px;
            }
        }

        ul {
            list-style-type: none;
        }
    }

}