@import '@angular/material/prebuilt-themes/magenta-violet.css';

* {

    @font-face {
        font-family: 'TT Alientz';
        src: url('../public/assets/fonts/TT\ Alientz\ Trial\ Grotesque.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Galano';
        src: url('../public/assets/fonts/GalanoGrotesqueRegular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    font-family: Roboto,
    Helvetica,
    sans-serif;
    scroll-behavior: smooth;

    --error-red: rgb(244, 33, 46);

    .light-mode {
        --text-background: url("../public/assets/images/abstract-holographic-gradient-1-copy2.jpg");

        --text-box-color: rgb(13, 13, 15);
        --filling-color: rgb(230, 230, 230);
        --filling-color-transparent: rgba(245, 245, 245, 0.706);
        --font-color: rgb(13, 13, 13);

        --background-opacity: 0.5;

        --card-shadow: rgba(160, 160, 160, .8) 12px 12px 20px, rgba(255, 255, 255, .4) -10px -10px 20px;
        --card-hover-shadow: rgba(160, 160, 160, 1) 12px 12px 20px, rgba(255, 255, 255, .7) -10px -10px 20px;
        --project-card-background-color: rgba(255, 255, 255, 0.15);
        --project-card-hover-background-color: rgba(255, 255, 255, 0.4);
    }

    .dark-mode {
        --text-background: url("../public/assets/images/holo2.png");

        --text-box-color: rgb(245, 245, 245);
        --filling-color: rgb(13, 13, 15);
        --filling-color-transparent: rgba(13, 13, 15, 0.827);
        --font-color: rgb(194, 194, 194);

        --background-opacity: 0.3;

        --card-shadow: rgba(0, 0, 0, 7) 7px 7px 25px, rgba(146, 146, 146, 0.6) -5px -5px 20px;
        --card-hover-shadow: rgb(0, 0, 0) 7px 7px 25px, rgba(146, 146, 146, 0.8) -5px -5px 20px;
        --project-card-background-color: rgba(0, 0, 0, 0.15);
        --project-card-hover-background-color: rgba(0, 0, 0, 0.5);
    }  
    
    body {
        margin: 0;
        padding: 0;

        transition: background-color 0.3s, color 0.3s;
        background-color: var(--filling-color);
        color: var(--font-color);

        h1 {
            font-size: 10em;
            margin: 0;

            background-image: var(--text-background);
            background-size: 200%;
            background-clip: text;
            color: transparent;

            transition: background-position-x 2.5s ease;

            &:hover {
                background-position-x: 100%;
            }

        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 3em;
        }

        h1,
        h2,
        h3 {
            font-family: 'TT Alientz', sans-serif;
            width: auto;
        }

        p,
        a {
            font-family: 'Galano';
        }

        button {
            background-color: var(--font-color);
            background-image: var(--text-background);
            background-size: 300%;
            background-position: 50%;

            box-sizing: border-box;
            padding: 5px 10px;
            margin-right: 20px;
            height: 3em;
            min-width: 150px;

            font-size: 20px;
            font-weight: 500;

            outline: none;
            border: none;
            border-radius: 100px;
            
            color: var(--filling-color);

            transition: all .5s ease;

            &:active {
                transform: translate(1px, 1px);
            }
            
            &:hover:not([role=switch]) {
                background-size: 350%;
                cursor: pointer;
                box-shadow: inset 10px 10px 15px rgba(39, 39, 39, 0.432), inset -10px -10px 15px rgba(228, 228, 228, 0.664);
            }
        }

        ul {
            list-style-type: none;
        }

        .background-img {

            opacity: var(--background-opacity);
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            min-width: 1820px;
            
            filter: blur(10px);
        }

        .section {

            .card {
                position: relative;
                width: fit-content;
                transition: .5s ease;
                border-radius: 35px;

                .preview-text {
                    position: absolute;
                    max-width: 25vw;

                    p {
                        margin: 0;
                        font-size: 3em;
                    }

                }

                &[id="project-preview-0"] {

                    left: 8vw;

                    img {
                        height: 440px;
                        width: 44vw;
                        transition: box-shadow 0.5s ease; 
                    }

                    .preview-text {
                        top: 18%;
                        transform: translateX(39vw);
                        transition: transform 0.3s ease; 
                    }

                    &:hover {

                        .preview-text {
                            transform: translate(40vw);
                        }

                        img{
                            box-shadow: var(--card-shadow);
                        }
                    }
                }

                &[id="project-preview-1"] {

                    left: 60vw;
                    top: 120px;

                    img {
                        height: 650px;
                        width: 31.5vw;
                        transition: box-shadow 0.5s ease;
                    }


                    .preview-text {
                        text-align: right;
                        top: 70%;
                        right: 30vw; // transform: translateX(-15vw);
                        transition: transform 0.3s ease; 
                    }

                    &:hover {
                        .preview-text {
                            transform: translate(-1vw);
                        }

                        img{
                            box-shadow: var(--card-shadow);
                        }
                    }
                }

                &[id="project-preview-2"] {

                    left: 16vw;
                    top: 200px;
                    margin-bottom: 400px;

                    img {
                        height: 500px;
                        width: 42vw;
                        transition: box-shadow 0.5s ease; 
                    }

                    .preview-text {
                        top: 18%;
                        transform: translateX(39vw);
                        transition: transform 0.3s ease; 
                    }

                    &:hover {
                        
                        .preview-text {
                            transform: translate(40vw);
                        }

                        img{
                            box-shadow: var(--card-shadow);
                        }
                    }
                }
            }
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
